
body{
  margin-top: 70px;
  margin-bottom: 70px;
}

.center-start{
  position: fixed;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  text-align: center;
}

.footer-menu{
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-menu li{
  display: inline-block;
  width: 30%;
  text-align: center;
  line-height: 60px;
}








